
<div class="row">
    <h2>Few things to know: </h2>
    <hr>
</div>
<div>
  <p>
    This tutorial will enable us start writing tests/ assertions using Jasmine as the testing framework and Karma as the test runner.
  </p>
    <ul>
        <li>
          <h2>1.) Write your assertions in Jasmine </h2>
        </li>
        <li>
          <h2>2.) Run using Karma with the use of protractor to communicate with several browsers </h2>
        </li>
        <li>
          <h2>3.) Write more test, increase your test coverage  </h2>
        </li>
        <li>
          Helpful Tip of the Day: Develop a test driven mindset 
        </li>
        <li>
          References : <a href="https://alligator.io/angular/introduction-unit-testing/">alligator io</a>
        </li>
      </ul>
</div>